# jupyter extensions
jupyterlab-link-share==0.3.0
jupyter-collaboration==4.1.1
# ogs
ogs==6.5.7
ogstools[pinned]==0.8.0
# binder requirements
nbgitpuller
pandoc
# ogs Tests/Data deps:
jupytext>=1.14.5
h5py>=3.8
heatsource-py@git+https://github.com/joergbuchwald/heatsource_thm@bbd5bab17fc2ec228c773e087dc847e1ad5f9a4c
ipywidgets
seaborn>=0.12
VTUinterface>=0.704
h5py>=3.8
